.bv-btn {
  border: 0;
  cursor: pointer;
  display: inline-block;
  background: #81B44C;
  line-height: normal;
  color: #FFF;
  border-radius: 6px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 26px;
  padding: 15px 30px;
  text-align: center;
  -webkit-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;

  @media (max-width: 991px) {
    padding: 13px 30px;
  }

  @media (max-width: 767px) {
    padding: 8px 30px;
  }

  &:hover {
    background: #638A3A;
    text-decoration: none;
    color: #FFF;
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3), 0 4px 8px 3px rgba(60, 64, 67, 0.15);
  }

  &:focus {
    background: #638A3A;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &--mobile-fluid {
    @media (max-width: 767px) {
      display: block;
      width: 100%;
    }
  }

  /* Secondary Button */
  &--secondary {
    background: #4A3B8F;

    &:hover {
      background: #443683;
    }

    &:focus {
      background: #353167;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
  }

  /* Tertiary Button */
  &--tertiary {
    background: none;
    border: 3px solid #81B44C;
    color: #4A4A4A;
    font-size: 22px;
    padding: 10px 25px;

    &:hover {
      background: #81B44C;
    }

    &--inverse {
      color: #fff;
      border-color: #81B44C;

      &:hover {
        background-color: #81B44C;
      }

      &:focus {
        opacity: 0.75;
      }
    }

    &--white {
      color: #fff;
      border-color: #fff;

      &:hover {
        background-color: #fff;
        color: #4A4A4A;
      }

      &:focus {
        opacity: 0.75;
      }
    }
  }

  &--small {
    padding: 6px 12px;
    font-size: 15px;
  }
}

.bv-btn[disabled] {
  background: #D3D2D7;
  color: #9b9b9b;
  border: none;
  -webkit-appearance: none;

  &:hover {
    box-shadow: none;
    cursor: not-allowed;
  }
}
