.bv-cb [type="checkbox"]:not(:checked),
.bv-cb [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.bv-cb [type="checkbox"]:not(:checked) + label,
.bv-cb [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

/* checkbox aspect */
.bv-cb [type="checkbox"]:not(:checked) + label:before,
.bv-cb [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 20px; height: 20px;
  border: 2px solid #979797;
  background: #fff;
  border-radius: 4px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
/* checked mark aspect */
.bv-cb [type="checkbox"]:not(:checked) + label:after,
.bv-cb [type="checkbox"]:checked + label:after {
  content: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2362575/checkmark.svg');
  position: absolute;
  left: 9px;
  line-height: 0.8;
  color: #09ad7e;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  font-family: Helvetica, Arial, sans-serif;
}
/* checked mark aspect changes */
.bv-cb [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.bv-cb [type="checkbox"]:checked + label:before {
  border-color: #4A4A4A
}
.bv-cb [type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1.8);
      -ms-transform: scale(1.8);
          transform: scale(1.8);
}
/* disabled checkbox */
.bv-cb [type="checkbox"]:disabled:not(:checked) + label:before,
.bv-cb [type="checkbox"]:disabled:checked + label:before {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.bv-cb [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
.bv-cb [type="checkbox"]:disabled + label {
  color: #aaa;
}

/* hover style just for information */
.bv-cb [type="checkbox"]:not(:checked):hover + label:before {
  border-color: #99D161;
}
