body {
  font-family: "Lato", sans-serif;
}

.list-group {
  margin-left: 15px;

  .list-item {
    color: #4A4A4A;
    padding: 5px;
  
    &:hover, 
    &.active {
      font-weight: 700;
      color: #4A4A4A;
    }
  }
}
