.pl-btn {
  border: 0;
  display: inline-block;
  background: blue;
  color: #FFF;
  border-radius: 6px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 24px;
  padding: 18px 30px;
  text-align: center;
  -webkit-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
